<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="capturarImagen()" expand="block" size="large" color="secondary" class="ion-margin-bottom">
          <span class="fa fa-camera"></span>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button 
        (click)="eliminarImagen()" 
        [disabled]="!imagen"
        expand="block" size="large" color="danger" class="ion-margin-bottom">
          <span class="fa-stack fa-1x">
            <i class="fas fa-camera fa-stack-1x"></i>
            <i class="fas fa-ban fa-stack-2x" style="color: black;"></i>
          </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="imagen">
    <ion-card-header>Previsualizar im&aacute;gen</ion-card-header>
    <ion-card-content>
      <img [src]="mostrarImagen" />
    </ion-card-content>
  </ion-card>
</ion-content>
